.sidenav {
    width: 250px;
}

.title {
    margin-bottom: 500px;
}

.toolbar-menu {
    position: fixed;
    font-size: 1rem;
    top: 0;
}

.toolbar-submenu {
    height: 100px;
    font-size: 2rem;
    margin-top: 60px;
}