<div class="content mat-elevation-z4">
    <app-toolbar-title icon="fa-graduation-cap" title="Cursos">
        <button mat-icon-button>
            <mat-icon>share</mat-icon>
        </button>
    </app-toolbar-title>

    <div class="container">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At, temporibus vitae repudiandae ducimus voluptate, nesciunt explicabo perferendis beatae adipisci perspiciatis aspernatur ullam impedit quasi in sint cumque tempora amet. Tempore.
        <br><br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At, temporibus vitae repudiandae ducimus voluptate, nesciunt explicabo perferendis beatae adipisci perspiciatis aspernatur ullam impedit quasi in sint cumque tempora amet. Tempore.
        <br><br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At, temporibus vitae repudiandae ducimus voluptate, nesciunt explicabo perferendis beatae adipisci perspiciatis aspernatur ullam impedit quasi in sint cumque tempora amet. Tempore.
        <br><br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At, temporibus vitae repudiandae ducimus voluptate, nesciunt explicabo perferendis beatae adipisci perspiciatis aspernatur ullam impedit quasi in sint cumque tempora amet. Tempore.
        <br><br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At, temporibus vitae repudiandae ducimus voluptate, nesciunt explicabo perferendis beatae adipisci perspiciatis aspernatur ullam impedit quasi in sint cumque tempora amet. Tempore.
        <br><br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At, temporibus vitae repudiandae ducimus voluptate, nesciunt explicabo perferendis beatae adipisci perspiciatis aspernatur ullam impedit quasi in sint cumque tempora amet. Tempore.
        <br><br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At, temporibus vitae repudiandae ducimus voluptate, nesciunt explicabo perferendis beatae adipisci perspiciatis aspernatur ullam impedit quasi in sint cumque tempora amet. Tempore.
        <br><br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At, temporibus vitae repudiandae ducimus voluptate, nesciunt explicabo perferendis beatae adipisci perspiciatis aspernatur ullam impedit quasi in sint cumque tempora amet. Tempore.
        <br><br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At, temporibus vitae repudiandae ducimus voluptate, nesciunt explicabo perferendis beatae adipisci perspiciatis aspernatur ullam impedit quasi in sint cumque tempora amet. Tempore.
        <br><br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At, temporibus vitae repudiandae ducimus voluptate, nesciunt explicabo perferendis beatae adipisci perspiciatis aspernatur ullam impedit quasi in sint cumque tempora amet. Tempore.
        <br><br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At, temporibus vitae repudiandae ducimus voluptate, nesciunt explicabo perferendis beatae adipisci perspiciatis aspernatur ullam impedit quasi in sint cumque tempora amet. Tempore.
        <br><br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At, temporibus vitae repudiandae ducimus voluptate, nesciunt explicabo perferendis beatae adipisci perspiciatis aspernatur ullam impedit quasi in sint cumque tempora amet. Tempore.
        <br><br><br>
        <router-outlet></router-outlet>
    </div>
</div>