<mat-toolbar class="toolbar-menu" [class.mat-elevation-z4]="applyShadow" color="secondary">
    <mat-toolbar-row>
        <a href="dashboard" mat-button class="logo">
            <mat-icon fontSet="fa" fontIcon="fa-school"> </mat-icon>
            <span *ngIf="popText">{{menuName}}</span>
        </a>
    </mat-toolbar-row>
    <div class="content-center">
        <button mat-button [matMenuTriggerFor]="beforeMenu">
            <span>Menu</span>
            <mat-icon>more-vert</mat-icon>
        </button>
    
        <mat-menu #beforeMenu>
            <a href="" mat-menu-item>a</a>
            <a href="" mat-menu-item>a</a>
            <a href="" mat-menu-item>a</a>
        </mat-menu>
    </div>
</mat-toolbar>