<h1>Progress bar & Spinner</h1>

<mat-progress-bar color="primary" [value]="loadingPercent"></mat-progress-bar>
<br>
<mat-progress-bar color="accent" [value]="loadingPercent"></mat-progress-bar>
<br>
<mat-progress-bar color="warn" [value]="loadingPercent"></mat-progress-bar>

<br><br>

<h1>Loading Desafio</h1>
<mat-progress-bar #progress color="warn" mode="query" [value]="loadingPercentQuery"></mat-progress-bar>

<br><br>

<h1>Playback Desafio</h1>
<mat-progress-bar color="primary" mode="buffer" [bufferValue]="currentPlayback"
    [value]="loadingPercent"></mat-progress-bar>

<br><br>
<h1>Spinner</h1>

<mat-spinner color="primary"></mat-spinner>
<mat-spinner color="accent"></mat-spinner>
<mat-spinner color="warn"></mat-spinner>

<br><br>
<h1>Progress Spinner</h1>

<mat-progress-spinner color="warn" [value]="loadingPercent"></mat-progress-spinner>