<h1>Simple tabs</h1>

<mat-tab-group animationDuration="500ms">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>
                home
            </mat-icon>
            Home
        </ng-template>
        Content Home
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>
                pets
            </mat-icon>
            Pets
        </ng-template>
        Content Pets
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>
                star
            </mat-icon>
            Favorites
        </ng-template>
        Content Favorites
    </mat-tab>
</mat-tab-group>

<br><br><br>

<h1>Tabs - Stretch and Below</h1>

<mat-tab-group animationDuration="500ms" mat-stretch-tabs class="mat-elevation-z4" headerPosition="below">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>
                home
            </mat-icon>
            Home
        </ng-template>
        Content Home
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>
                pets
            </mat-icon>
            Pets
        </ng-template>
        Content Pets
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>
                star
            </mat-icon>
            Favorites
        </ng-template>
        Content Favorites
    </mat-tab>
</mat-tab-group>

<br><br><br>

<h1>Tabs - Colors</h1>

<mat-tab-group animationDuration="500ms" color="primary" headerPosition="below" backgroundColor="warn">
    <mat-tab>
        <div class="mat-tab">
            <ng-template mat-tab-label>
                <mat-icon>
                    home
                </mat-icon>
                Home
            </ng-template>
            <h1>Content Home</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus reiciendis ut officiis dicta,
                assumenda aspernatur tempora veritatis corrupti aut iste asperiores ratione suscipit vero aliquam, nam
                libero voluptas cumque debitis.</p>
        </div>
    </mat-tab>
    <mat-tab>
        <div class="mat-tab">
            <ng-template mat-tab-label>
                <mat-icon>
                    pets
                </mat-icon>
                Pets
            </ng-template>
            <h1>Content Pets</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus reiciendis ut officiis dicta,
                assumenda aspernatur tempora veritatis corrupti aut iste asperiores ratione suscipit vero aliquam, nam
                libero voluptas cumque debitis.</p>
        </div>
    </mat-tab>
    <mat-tab>
        <div class="mat-tab">
            <ng-template mat-tab-label>
                <mat-icon>
                    star
                </mat-icon>
                Favorites
            </ng-template>
            <h1>Content Favorites</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus reiciendis ut officiis dicta,
                assumenda aspernatur tempora veritatis corrupti aut iste asperiores ratione suscipit vero aliquam, nam
                libero voluptas cumque debitis.</p>
        </div>
    </mat-tab>
</mat-tab-group>