<mat-toolbar class="toolbar-menu" [class.mat-elevation-z4]="applyShadow" color="secondary">
  <span *ngIf="popText">{{menuName}}</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav class="sidenav mat-elevation-z2" #sidenav [fixedInViewport]="true" [opened]="!isSmallScreen"
    [mode]="sidenavMode">
    <mat-toolbar>
      <img src="https://avatars.githubusercontent.com/u/68978384?v=4" alt="avatar" class="avatar mat-elevation-z4">
      <a routerLink="/users" class="name">Gabriel Schincariol</a>
      <p class="designation">Desenvolvedor</p>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a routerLink="/users" mat-list-item>Users</a>
      <a *ngFor="let item of items_menu" [routerLink]="item.link" mat-list-item routerLinkActive="active">
        <mat-icon [fontIcon]="item.icon" fontSet="fa"></mat-icon>
        <span>{{item.label}}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar #toolbarSubmenu class="toolbar-submenu" id="toolbarSubmenu" color="primary">
      <div class="toolbar-submenu-top">
        <button 
          mat-icon-button 
          (click)="toggleSidenav()"
          matTooltip="{{!isSidenavOpen ? 'Fechar menu' : 'Abrir menu'}}" 
          matTooltipPosition="right">
            <mat-icon>{{(isSidenavOpen || isSmallScreen) ? 'menu' : 'close'}}</mat-icon>
        </button>
      </div>
      <div class="toolbar-submenu-title">
        <span *ngIf="!popText">{{menuName}}</span>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>